<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<!-- 何问起 http://hovertree.com/hovertreescj/ -->
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <connectionStrings  >
    <!--http://hovertree.com/h/bjaf/ldbjs5uh.htm-->
    <add name="hovertreedb" connectionString="Data Source=(local)\hovertree;Initial Catalog=HoverTreeSCJ;User ID=sa;PWD=123456"/>
  </connectionStrings>
</configuration>